


@model BlogPostDetailsViewModel


<style>

    li.add-to-cart-edit a {
        font-size: 16px;
        width: auto;
        height: auto;
        padding: 12px 30px;
        background-color: #0000FF;
        border: 1px solid #0000FF;
        color: #fff;
        border-radius: 4px;
    }

     li.add-to-cart-edit a:hover {
        background-color: transparent;
        color: #0000FF;
    }

    li.add-to-cart-edit a i {
        line-height: normal;
        margin-right: 5px;
    }





     li.add-to-cart-delete a {
        font-size: 16px;
        width: auto;
        height: auto;
        padding: 12px 30px;
        background-color: #FF0000;
        border: 1px solid #FF0000;
        color: #fff;
        border-radius: 4px;
    }

     li.add-to-cart-delete a:hover {
        background-color: transparent;
        color: #FF0000;
    }

     li.add-to-cart-delete a i {
        line-height: normal;
        margin-right: 5px;
    }

</style>

@Html.AntiForgeryToken();
<!-- START SECTION BLOG -->
<div class="section">
<div class="container">
<div class="row">
<div class="col-xl-9">
<div class="single_post">
    <h2 class="blog_title">@Model.Title</h2>
    <ul class="list_none blog_meta">
        <li><a href="#"><i class="ti-calendar"></i> @DateOnly.FromDateTime(Model.DatePosted)</a></li>
        <li><a href="#"><i class="ti-comments"></i> @Model.NumberOfComments Comment</a></li>
        @{
            if (User?.Identity!.IsAuthenticated ?? false)
            {
                if (Guid.Parse(ClaimsPrincipalExtensions.GetId(User)!) == Model.Author.Id || User.IsInRole("Administrator"))
                {
                    <li class="add-to-cart-edit"><a asp-controller="Blog" asp-action="Edit" asp-route-postId="@Model.Id">Edit</a></li>
                    <li id="deleteButton" class="add-to-cart-delete"><a href="#" >Delete</a></li>
                }
                if (User.IsInRole("Moderator"))
                {
                    <li class="add-to-cart-edit"><a asp-controller="Blog" asp-action="Edit" asp-route-postId="@Model.Id">Edit</a></li>
                }
            }

        }
    </ul>
    <div class="blog_img">
        <img src="@Model.MainImageUrl" alt="blog_img1">
    </div>
    <div class="blog_content">
        <div class="blog_text">
            <p>@Model.Context.Substring(0,Model.Context.Length/2)</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="single_img">
                        <img class="w-100 mb-4" src="@Model.LeftSideImageUrl" alt="blog_single_img1">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="single_img">
                        <img class="w-100 mb-4" src="@Model.RightSideImageUrl" alt="blog_single_img2">
                    </div>
                </div>
            </div>
            <p>@Model.Context.Substring(Model.Context.Length/2)</p>
           
        </div>
    </div>
</div>

<div class="card post_author">
    <div class="card-body">
        <div class="author_img">
            <img src="/assets/images/user1.jpg" alt="user1">
        </div>
        <div class="author_info">
            <h6 class="author_name"><a href="#" class="mb-1 d-inline-block">@Model.Author.UserName</a></h6>
            <p></p>
        </div>
    </div>
</div>

<div class="comment-area">
    <div class="content_title">
        <h5>(03) Comments</h5>
    </div>
    <ul class="list_none comment_list">
        <li class="comment_info">
            <div class="d-flex">
                <div class="comment_user">
                    <img src="assets/images/user2.jpg" alt="user2">
                </div>
                <div class="comment_content">
                    <div class="d-flex">
                        <div class="meta_data">
                            <h6><a href="#">Alden Smith</a></h6>
                            <div class="comment-time">MARCH 5, 2018, 6:05 PM</div>
                        </div>
                        <div class="ms-auto">
                            <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                        </div>
                    </div>
                    <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire that the cannot foresee the pain and trouble that.</p>
                </div>
            </div>
            <ul class="children">
                <li class="comment_info">
                    <div class="d-flex">
                        <div class="comment_user">
                            <img src="assets/images/user3.jpg" alt="user3">
                        </div>
                        <div class="comment_content">
                            <div class="d-flex align-items-md-center">
                                <div class="meta_data">
                                    <h6><a href="#">Daisy Lana</a></h6>
                                    <div class="comment-time">april 8, 2018, 5:15 PM</div>
                                </div>
                                <div class="ms-auto">
                                    <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                                </div>
                            </div>
                            <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire that the cannot foresee the pain and trouble that.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="comment_info">
            <div class="d-flex">
                <div class="comment_user">
                    <img src="assets/images/user4.jpg" alt="user4">
                </div>
                <div class="comment_content">
                    <div class="d-flex">
                        <div class="meta_data">
                            <h6><a href="#">John Becker</a></h6>
                            <div class="comment-time">april 15, 2018, 10:30 PM</div>
                        </div>
                        <div class="ms-auto">
                            <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                        </div>
                    </div>
                    <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire that the cannot foresee the pain and trouble that.</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="content_title">
        <h5>Write a comment</h5>
    </div>
    <form class="field_form" name="enq" method="post">
        <div class="row">
            <div class="form-group col-md-4 mb-3">
                <input name="name" class="form-control" placeholder="Your Name" required="required" type="text">
            </div>
            <div class="form-group col-md-4 mb-3">
                <input name="email" class="form-control" placeholder="Your Email" required="required" type="email">
            </div>
            <div class="form-group col-md-4 mb-3">
                <input name="website" class="form-control" placeholder="Your Website" required="required" type="text">
            </div>
            <div class="form-group col-md-12 mb-3">
                <textarea rows="3" name="message" class="form-control" placeholder="Your Comment" required="required"></textarea>
            </div>
            <div class="form-group col-md-12 mb-3">
                <button value="Submit" name="submit" class="btn btn-fill-out" title="Submit Your Message!" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
</div>
<div class="col-xl-3 mt-4 pt-2 mt-xl-0 pt-xl-0">
    <div class="sidebar">
      
      
      
        <div class="widget">
            <div class="shop_banner">
                <div class="banner_img overlay_bg_20">
                    <img src="/assets/images/sidebar_banner_img.jpg" alt="sidebar_banner_img">
                </div>
                <div class="shop_bn_content2 text_white">
                    <h5 class="text-uppercase shop_subtitle">New Collection</h5>
                    <h3 class="text-uppercase shop_title">Sale 30% Off</h3>
                    <a href="#" class="btn btn-white rounded-0 btn-sm text-uppercase">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- END SECTION BLOG -->

                    
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="confirmDelete" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

                
                
<script>

    
    

    // Add an event listener to the delete button
    $('#deleteButton').click(function () {
        $('#confirmDeleteModal').modal('show');
    });

    // Event listener for the delete button in the modal
    $('#confirmDelete').on('click', function () {
       
     
            var itemId = "@Model.Id"; // Get the item ID
            var url = "/Blog/Delete/?blogId=" + itemId; // Construct the URL for the DELETE request
            const csrfToken = $('[name=__RequestVerificationToken]').val();
       
            // Send the DELETE request using Ajax
            $.ajax({
                url: url,
                type: 'DELETE',
            headers: {
                'RequestVerificationToken': csrfToken, // Include the CSRF token here          
            },
                success: function (data) {
                    if (data.success) {
                        
                    window.location.href = '@Url.Action("ListAllBlogPosts", "Blog")';
                    } else {
                    window.location.href = '@Url.Action("ListAllBlogPosts", "Blog")';
                        console.error(data.message);
                    }
                }
            });
    });

    // Event listener for the cancel button
    $('#confirmDeleteModal .btn-secondary').click(function () {
        // Hide the modal
        $('#confirmDeleteModal').modal('hide');
    });

    // Event listener for the close button
    $('#confirmDeleteModal .btn-close').click(function () {
        // Hide the modal
        $('#confirmDeleteModal').modal('hide');
    });
      


</script>