

@model ListAllBlogPostsViewModel[]

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container">
            <!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1>Blog left sidebar</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Blog" asp-action="ListAllBlogPosts">Blog</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->
    <!-- START MAIN CONTENT -->
    <div class="main_content">

        <!-- START SECTION BLOG -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            
                            
                            @{
                                if (Model.Any())
                                {

                                    foreach (var post in Model)
                                    {
                                        <div class="col-xl-4 col-md-6">
                                            <div class="blog_post blog_style2 box_shadow1">
                                                <div class="blog_img">
                                                <a asp-controller="Blog" asp-action="Details" asp-route-postId="@post.Id">
                                                        <img src="@post.ThumbnailUrl" alt="blog_small_img1">
                                                    </a>
                                                </div>
                                                <div class="blog_content bg-white">
                                                    <div class="blog_text">
                                                        <h6 class="blog_title"><a asp-controller="Blog" asp-action="Details" asp-route-postId="@post.Id">@post.Title</a></h6>
                                                        <ul class="list_none blog_meta">
                                                            <li><a href="#"><i class="ti-calendar"></i> @DateOnly.FromDateTime(post.DatePosted)</a></li>
                                                            <li><a href="#"><i class="ti-comments"></i> @post.NumberOfComments</a></li>
                                                        </ul>
                                                        <p>@post.ShortContext</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <h2>No Posts have been created!</h2>
                                }
                            }

                          

                        </div>
                        <div class="row">
                            <div class="col-12 mt-2 mt-md-4">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
                        <div class="sidebar">
                          
                            <div class="widget">
                                <h5 class="widget_title">Recent Posts</h5>
                                <ul class="widget_recent_post">
                                    
                                    @{
                                        foreach (var blogPost in Model.OrderByDescending(b=>b.DatePosted))
                                        {
                                            <li>
                                                <div class="post_footer">
                                                    <div class="post_img">
                                                        <a href="#"><img src="@blogPost.ThumbnailUrl" alt="letest_post1"></a>
                                                    </div>
                                                    <div class="post_content">
                                                        <h6><a href="#">@blogPost.Title</a></h6>
                                                        <p class="small m-0">@DateOnly.FromDateTime(blogPost.DatePosted)</p>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                   


                                </ul>
                            </div>
                           
                            <div class="widget">
                                <div class="shop_banner">
                                    <div class="banner_img overlay_bg_20">
                                        <img src="/assets/images/sidebar_banner_img.jpg" alt="sidebar_banner_img">
                                    </div>
                                    <div class="shop_bn_content2 text_white">
                                        <h5 class="text-uppercase shop_subtitle">New Collection</h5>
                                        <h3 class="text-uppercase shop_title">Sale 30% Off</h3>
                                        <a href="#" class="btn btn-white rounded-0 btn-sm text-uppercase">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SECTION BLOG -->

       </div>                        