@using ClothingRepository
@using ClothingRepository.Interfaces
@using Vcommerce.Data.Models.Enums

@inject IClothingRepo ClothingRepo;

@{
    var manClothingCategories = await ClothingRepo.GetAvailableCategories(Gender.Male);
    var womenClothingCategories = await ClothingRepo.GetAvailableCategories(Gender.Female);
    var kidsClothingCategories = await ClothingRepo.GetAvailableCategories(Gender.Kids);
}

<!DOCTYPE html>
<html lang="en">
<head>


    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Anil z" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
    <meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">
    

    <!-- SITE TITLE -->
    <title>Shopwise - eCommerce Bootstrap 5 HTML Template</title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css">

    <!-- Latest Bootstrap min CSS -->
    <link style="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/linearicons.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/simple-line-icons.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="/assets/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.css">
    <link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    
    
   
    


</head>
<body>

       
@*  <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vcommerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>*@

<!-- LOADER -->
<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->
<!-- Home Popup Section -->
<div class="modal fade subscribe_popup" id="onload-popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" id="subCloseButton" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
                </button>
                <div class="row g-0">
                    <div class="col-sm-5">
                        <div class="background_bg h-100" data-img-src="/assets/images/Capture.PNG"></div>
                    </div>
                    <div class="col-sm-7">
                        <div class="popup_content">
                            <div class="popup-text">
                                <div class="heading_s1">
                                    <h4>Subscribe and Get 25% Discount!</h4>
                                </div>
                                <p>Subscribe to the newsletter to receive updates about new products.</p>
                            </div>
                            <form method="post">
                                <div class="form-group mb-3">
                                    <input name="email" required type="email" class="form-control rounded-0" placeholder="Enter Your Email">
                                </div>
                                <div class="form-group mb-3">
                                    <button class="btn btn-fill-line btn-block text-uppercase rounded-0" title="Subscribe" type="submit">Subscribe</button>
                                </div>
                            </form>
                            <div class="chek-form">
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                    <label class="form-check-label" for="exampleCheckbox3"><span>Don't show this popup again!</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Screen Load Popup Section -->

       
<!-- Begin HEADER -->
<header class="header_wrap fixed-top header_with_topbar">
    <div class="top-header">
        <div class="container">
            <div class="row align-items-right">
                           
                <div class="col-md">
                    <div class="text-right text-md-end">
                        <ul class="header_list">
                            @{

                                if (User?.Identity!.IsAuthenticated ?? false)
                                {
                                    <li><a asp-controller="Blog" asp-action="Add"><span>Add Blog Post</span></a></li>
                                    <li><a asp-controller="Collection" asp-action="Add"><span>Add Clothing Collection</span></a></li>
                                    <li><a asp-controller="Brand" asp-action="Add"><span>Add Clothing Brand</span></a></li>
                                    <li><a asp-controller="Product" asp-action="Add"><span>Add Clothing Product</span></a></li>
                                }

                            }
                                        
                            <li><a href="wishlist.html"><i class="ti-heart"></i><span>Wishlist</span></a></li>
                            <partial name="_LoginPartial"/>

                        </ul>
                    </div>
                </div>
            </div>
                       
        </div>
                   
                      
                    
    </div>
    <div class="bottom_header dark_skin main_menu_uppercase">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img class="logo_light" src="/assets/images/logo_light.png" alt="logo" />
                    <img class="logo_dark" src="/assets/images/logo_dark.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false">
                    <span class="ion-android-menu"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <a class="nav-link" asp-controller="Home" asp-action="Index" >Home</a>
                                      
                        </li>
                        <li class="dropdown dropdown-mega-menu">
                            <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">Products</a>
                            <div class="dropdown-menu">
                                <ul class="mega-menu d-lg-flex">
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            <li class="dropdown-header">Woman's</li>
                                                       
                                            @{
                                                foreach (var category in womenClothingCategories)
                                                {
                                                    <li><a asp-controller="Product" asp-action="ProductsByCategoryAndGender" asp-route-category="@category" asp-route-gender="@Gender.Female" class="dropdown-item nav-link nav_item">@category</a></li>
                                                }
                                            }
                                                          
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            <li class="dropdown-header">Men's</li>
                                            @{
                                                foreach (var category in manClothingCategories)
                                                {
                                                    <li><a asp-controller="Product" asp-action="ProductsByCategoryAndGender" asp-route-category="@category" asp-route-gender="@Gender.Male" class="dropdown-item nav-link nav_item">@category</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    <li class="mega-menu-col col-lg-4">
                                        <ul>
                                            <li class="dropdown-header">Kid's</li>
                                            @{
                                                foreach (var category in kidsClothingCategories)
                                                {
                                                    <li><a asp-controller="Product" asp-action="ProductsByCategoryAndGender" asp-route-category="@category" asp-route-gender="@Gender.Kids" class="dropdown-item nav-link nav_item">@category</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                               
                                </ul>
                                <div class="d-lg-flex menu_banners row g-3 px-3">
                                    <div class="col-sm-4">
                                        <div class="header-banner">
                                            <img src="/assets/images/menu_banner1.jpg" alt="menu_banner1">
                                            <div class="banne_info">
                                                <h6>10% Off</h6>
                                                <h4>New Arrival</h4>
                                                <a href="#">Shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="header-banner">
                                            <img src="/assets/images/menu_banner2.jpg" alt="menu_banner2">
                                            <div class="banne_info">
                                                <h6>15% Off</h6>
                                                <h4>Men's Fashion</h4>
                                                <a href="#">Shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="header-banner">
                                            <img src="/assets/images/menu_banner3.jpg" alt="menu_banner3">
                                            <div class="banne_info">
                                                <h6>23% Off</h6>
                                                <h4>Kids Fashion</h4>
                                                <a href="#">Shop now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link" asp-controller="Brand" asp-action="BrandsList">Brands</a>

                        </li>
                        <li class="dropdown">
                            <a class="nav-link" asp-controller="Collection" asp-action="CollectionsList">Collections</a>

                        </li>
                        <li class="dropdown">
                            <a class="nav-link"   asp-controller="Blog" asp-action="ListAllBlogPosts">Blog</a>
                                        
                        </li>
                                   
                        <li><a class="nav-link nav_item" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                    </ul>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li id="partialViewContainer" class="dropdown cart_dropdown">
                                    
                                    
                    </li>
                                
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- END HEADER -->


@RenderBody()
       

<footer class="border-top footer text-muted">
    <footer class="footer_dark">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget">
                            <div class="footer_logo">
                                <a href="#"><img src="/assets/images/logo_light.png" alt="logo" /></a>
                            </div>
                            <p>If you are going to use of Lorem Ipsum need to be sure there isn't hidden of text</p>
                        </div>
                        <div class="widget">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Useful Links</h6>
                            <ul class="widget_links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Location</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Category</h6>
                            <ul class="widget_links">
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Woman</a></li>
                                <li><a href="#">Kids</a></li>
                                <li><a href="#">Best Saller</a></li>
                                <li><a href="#">New Arrivals</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">My Account</h6>
                            <ul class="widget_links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Orders History</a></li>
                                <li><a href="#">Order Tracking</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Contact Info</h6>
                            <ul class="contact_info contact_info_light">
                                <li>
                                    <i class="ti-location-pin"></i>
                                    <p>123 Street, Old Trafford, New South London , UK</p>
                                </li>
                                <li>
                                    <i class="ti-email"></i>
                                    <a href="mailto:info@sitename.com">info@sitename.com</a>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>+ 457 789 789 65</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_footer border-top-tran">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-md-0 text-center text-md-start">© 2020 All Rights Reserved by Vcommerce</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="footer_payment text-center text-lg-end">
                            <li><a href="#"><img src="/assets/images/visa.png" alt="visa"></a></li>
                            <li><a href="#"><img src="/assets/images/discover.png" alt="discover"></a></li>
                            <li><a href="#"><img src="/assets/images/master_card.png" alt="master_card"></a></li>
                            <li><a href="#"><img src="/assets/images/paypal.png" alt="paypal"></a></li>
                            <li><a href="#"><img src="/assets/images/amarican_express.png" alt="amarican_express"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
</footer>


<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- popper min js -->
<script src="/assets/js/popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- owl-carousel min js  -->
<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
<!-- magnific-popup min js  -->
<script src="/assets/js/magnific-popup.min.js"></script>
<!-- waypoints min js  -->
<script src="/assets/js/waypoints.min.js"></script>
<!-- parallax js  -->
<script src="/assets/js/parallax.js"></script>
<!-- countdown js  -->
<script src="/assets/js/jquery.countdown.min.js"></script>
<!-- imagesloaded js -->
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<!-- isotope min js -->
<script src="/assets/js/isotope.min.js"></script>
<!-- jquery.dd.min js -->
<script src="/assets/js/jquery.dd.min.js"></script>
<!-- slick js -->
<script src="/assets/js/slick.min.js"></script>
<!-- elevatezoom js -->
<script src="/assets/js/jquery.elevatezoom.js"></script>
<!-- scripts js -->
<script src="/assets/js/scripts.js"></script>

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

@await RenderSectionAsync("Scripts", required: false)

!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Thank You for Subscribing!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Thank you for subscribing! You will receive our updates and offers in your inbox.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>


<script>

    $("#subscribeBtn").click(function () {
        var email = $("#subscriptionEmail").val();
        const csrfToken = $('[name=__RequestVerificationToken]').val();
        if (email) {
            $.ajax({
                type: "POST",
                url: "/Home/SaveSubscription", // Replace with your controller and action
                data: {email:email},
                headers: {
                    'RequestVerificationToken': csrfToken, // Include the CSRF token here
                },
                success: function (response) {
                    // Clear the form
                    $("#subscriptionEmail").val("");
                    // Show the success modal
                    $("#successModal").modal("show");
                },
                error: function (error) {
                    // Handle error response if needed
                    console.error("Request failed:", error);
                }
            });
        }
    });

</script>

<script>

    function removeCartItem(productId) {
        var cartItems = JSON.parse(sessionStorage.getItem('cartItems'));

        // Find the index of the cart item to remove
        var index = cartItems.findIndex(item => item.id === productId);

        if (index !== -1) {
            cartItems.splice(index, 1); // Remove the item from the array
            sessionStorage.setItem('cartItems', JSON.stringify(cartItems)); // Update the session storage

            // Remove the corresponding <li> element from the cart list


            loadPartialView();
        }
    }

    // Add click event listener to the "Remove" button
    $('#partialViewContainer').on('click', '.item_remove', function () {
        var productId = $(this).attr("id"); // Get the product ID from the data attribute
        removeCartItem(productId);
    });

    function loadPartialView() {
        var cartItemsJson = sessionStorage.getItem('cartItems');
        $.ajax({
            url: "/Product/GetCartPartialView",
            type: "GET",
            data: { cartItemsJson: cartItemsJson },
            success: function (result) {
                $("#partialViewContainer").html(result);
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    $()
    // Call the function to load the partial view
    loadPartialView();

</script>

 
<script>
        // Function to set a cookie
        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        // Function to get a cookie value
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) === ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        // Check if the cookie is set and hide the popup if needed
        $(document).ready(function () {
            var popupCookie = getCookie('popupShown');
            if (popupCookie === 'true') {
                $('#onload-popup').remove();
            }
        });

        // When the popup is closed, set the cookie
        $('#subCloseButton').on('click', function () {
            if ($('#exampleCheckbox3').prop('checked')) {
                setCookie('popupShown', 'true', 30); // Set the cookie to expire in 30 days
            }
        });


      $('#onload-popup').on('hidden.bs.modal', function () {
        $(this).remove();
     });


    </script>